# Impedir que se pueda ver el listado de contenidos de un directorio

Options All -Indexes

# URLS amigables
# Activar RewriteEngine

RewriteEngine on

# RewriteRule ^(\w+)$  index.php?action=$1

RewriteRule ^([-a-zA-z0-9/]+)$  index.php?action=$1
